
.container {
  padding: 2rem;
  min-height: 100vh;
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  gap: 3rem;
  max-width: 1440px;
  margin-inline: auto;
  position: relative;
  padding-top: 4rem;
}

.heading {
  text-align: center;
  margin: 2rem 0;
  font-size: 5rem;
  font-style: italic;
  position: relative;
  z-index: 1000;
}
.heading::after {
  content: '';
  position: absolute;
  top: 77.5%;
  transform: translateY(-77.5%);
  height: 5%;
  right: -100px;
  width: 200vw;
  box-shadow: 4px 4px 4px #7DA2A9;
  z-index: -1000;
}

.categories {
  width: 200px;
  padding: 0.5rem;
  padding-top: 9px;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  font-size: 0.8rem;
  background-color: #7DA2A9;
  color: white;
  cursor: default;
  position: absolute;
  right: 0;
}


@media screen and (max-width: 768px) {
  .heading{
    font-size: 3rem;
  }
}

@media screen and (max-width: 475px) {
  .container {
    padding: 2rem 1rem;
  }
  .main {
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  }
}
@media screen and (max-width: 425px) {
  .heading{
    font-size: 2.5rem;
  }
}